:root {
    --pri-col: rgba(243,193,2,1);
    --sec-col: rgba(221,0,41,1);
    --ter-col: rgba(49,109,179,1);
    --qer-col: rgba(0,169,158,1);
    --pri-col-t: rgba(243,193,2,0.25);
    --sec-col-t: rgba(221,0,41,0.25);
    --ter-col-t: rgba(49,109,179,0.25);
    --qer-col-t: rgba(0,169,158,1,0.25);

    --title-time: 5s;
    --title-bloom: 100px;

    --guest-time: 2.5s;
    --guest-box-shadow: 15px;
    --guest-tab-time: 1s;
    --guest-show-time: 0.5s;
    --guest-bg-size: 150%;
}

#guest-info::-webkit-scrollbar {
    display: none;
}

.titles::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 1%;
}

@font-face {
    font-family: korolev;
    src: url("../fonts/korolev.otf");
}

@font-face {
    font-family: orbitron;
    src: url("../fonts/static/Orbitron-SemiBold.ttf");
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textshadow {
    0% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(243,193,2);
    }
    16% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(221,0,41);
    }
    34% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(49,109,179);
    }
    50% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(0,169,158);
    }
    66% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(49,109,179);
    }
    84% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(221,0,41);
    }
    100% {
        text-shadow: 10px 10px white, 0px 0px var(--title-bloom) rgb(243,193,2);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout{
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes tabpopup {
    from { top: 0px; opacity: 0;  box-shadow: var(--guest-box-shadow) var(--guest-box-shadow) 10px rgba(255,255,255,0);}
    to  { top: -158px; opacity: 1; box-shadow: var(--guest-box-shadow) var(--guest-box-shadow) 10px rgba(255,255,255,0.5);}
}

@keyframes titlesscroll {
    from { top: 1500px;}
    to { top: -1300px;}
}

#html{
    overflow: hidden;
    height: 1080px;
    width: 1920px;
}

.titles{
    position: absolute;
    margin-left: 17%;
    font-size: 48px;
    font-family: orbitron;
    color: rgb(255,255,255);
    text-align: center;
    overflow: hidden;
    animation: gradient var(--title-time) ease infinite, titlesscroll 10s linear;
    animation-fill-mode: forwards;
    scrollbar-width: none;
}

.grad-title{
    position: absolute;
    display: inline;
    left: 15%;
    top: 40%;
    font-family: korolev;
    font-size: 60px;
    background: linear-gradient(60deg, var(--pri-col), var(--sec-col), var(--ter-col), var(--qer-col));
    -webkit-background-clip: text;
    text-align: center;
    background-clip: text;
    color: transparent;
    background-size: 600% 600%;
    animation: gradient var(--title-time) ease infinite, fadein 2s, textshadow var(--title-time) ease infinite;
}

.guest-card{
    box-sizing: border-box;
}

#guest-info h1{
    position: absolute;
    top: 15px;
    opacity: 0;
    box-shadow: var(--guest-box-shadow) var(--guest-box-shadow) 10px rgba(255,255,255,0);
    padding: 10px;
    right: 50%;
    left: 0px;
    text-align: center;
    text-shadow: 5px 5px rgba(255,255,255,0.75);
    background: linear-gradient(75deg, var(--sec-col), var(--ter-col));
    background-size: var(--guest-bg-size) var(--guest-bg-size);
    border-radius: 15px 15px 0px 0px;
    z-index: -1;
    animation: tabpopup var(--guest-tab-time), gradient var(--guest-time) ease infinite;
    animation-fill-mode: forwards;
    animation-delay: var(--guest-show-time);
}

#guest-info{
    position: absolute;
    font-family: orbitron;
    font-size: 36px;
    color: black;
    width: 30%;
    padding: 10px;
    left: 3%;
    bottom: 5%;
    list-style-type: none;
    scrollbar-width: none;
    text-shadow: 3px 3px rgba(255,255,255,0.25);
    background: linear-gradient(60deg, var(--pri-col), var(--qer-col));
    background-size: var(--guest-bg-size) var(--guest-bg-size);
    border-radius: 0px 15px 15px 15px;
    box-shadow: var(--guest-box-shadow) var(--guest-box-shadow) 10px rgba(255,255,255,0.5); 
    animation: fadein var(--guest-show-time), gradient var(--guest-time) ease infinite;
}

.guest-image{
    width: 30%;
    height: 80%;
}